/* .login{
    margin: 5px;
    padding: 10px;
    position: relative;
    left: 25%;
}
.signup{
    position: relative;
    left: 1%;
    margin: 5px;
    padding: 10px;
} */

/* .saved{
    position: relative;
    left: 1%;
    margin: 5px;
    padding: 10px;
} */

.navBar{
    background-color:black;
    padding: 33px;
    margin: 0 10px 0 10px;
    /* border: solid white 4px; */
    
}

/* .nav-item{
    background-color: white;
    font-size: 50px;
} */

.btn{
    color: yellow;
    font-size: 30px;
    border: solid 10px;
    padding: 10px;
    margin-left:50px;
    
}