.navBar{
    background-color:black;
    padding: 10px;
    margin: 15px 0;
    border-radius: 4px;
    
}

.btn{
    color: green;
    font-size: 30px;
}

.nav-span{
    font-size: 20px;
}

.brand-ico {
    width: 30px;
}