ul{
    padding:8px;
    /* margin-left: 12px; */
    
}
ul p{
    margin: 10px;
}

.box1{
    background-color:navy;
    border: double 20px black;
    /* margin-left: 0px; */
    padding:33px;
    /* margin: 0 10px 0 10px; */
    
    
    
}


/* .list-group-item{
    margin-left: 15px;
    padding:33px;
} */

/* .box2{
    background-color: red;
} */

/* "Link to the park page" white */
h1{
    font-size: 25px;
}

/* .test2{
    border: solid yellow;
} */