
 #root > div > div.jumbotron.text-center > button{
    border: solid black 2px;
    margin: 0 10px 0 10px;
}

.jumbotron{
    background-color: green;
    border: solid white 20px;
}

/* .test1{
    font-size: 40px;
    font-weight: bolder;
} */

/* 
p{
    font-weight: bolder;
    font-size: 30px;
    color:black;
} */

.button{
    border: solid 10px;
    background-color: black;
}

.btn{
    font-weight: bolder;
}

h1{
    font-weight: bolder;
    font-size: larger;
    /* color: white; */
}