
 /* #root > div > div.jumbotron.text-center > button{
    border: solid black 2px;
    margin: 0 10px 0 10px;
} */

.jumbotron{
    background-color: green;
    border: solid black 5px;
    margin-left: 15px;
}

.button{
    border: solid 10px;
    background-color: black;
}

.btn{
    font-weight: bolder;
}

h1{
    font-weight: bolder;
    font-size: larger;
    /* color: white; */
}