/* html {
    height: 100%;
  } */
  /* body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  } */
  /* .foot-content {
    flex: 1 0 auto;
    padding: 20px;
  } */
  .footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */

    border: 8px orangered solid;

    background-color: black;
    margin: 0 0 0 10px;

    padding: 20px;


    color: white;

  }
  
  