.mainBox{
    border: solid 8px orangered;
    background-color: black;
}

.browseFile{
    border: solid 1px black;
    /* margin-right: 10px; */
    /* padding: 10px; */

}

.description{
    /* padding: 40px; */
    border: solid 2px white(226, 19, 19);
}

#swingCheckBox{
    /* background-color: gold; */
    padding: 10px;
    
}

#slideCheckBox{
    padding: 10px;
    
}


#monkeyCheckBox{
    padding: 10px;
}

#musicCheckBox{
    padding: 10px;
}

.submitBtn{
    border: solid 8px gold;
}